.center-vertical{
	top: 50%; 
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hide {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.create-price-box {
	width:450px;
	z-index:2;

	textarea {
		width: 100%;
	}
}

.thead-dark {
	background-color: #333;
	color: white;
}

$breakpoint-mobile: 480px; 

@media (max-width: $breakpoint-mobile) {
	.create-price-box {
		width: 300px;
	}
}

	
